/*
 * Stylesheet 2
    A list of artists and the colors I associate with them
 */

.porter-robinson {
    color: #ec77ae;
    font-weight: bold;
}

.laufey {
    color: #bf0f31;
    font-weight: bold;
}

.flume {
    color: #ec77ae;
    font-weight: bold;
}

.of-monsters-and-men {
    color: #777777;
    font-weight: bold;
}

.beach-bunny {
    color: aqua;
    font-weight: bold;
}
